$searchboxWidth : 100%;
        body {
            background : url(../images/bg.jpg) no-repeat center center fixed;
            background-size:cover;
        }
        
        .heading {
            font-family: Courier New, Courier, monospace; 
            color : white;
            padding-top : 100px;
            background-color:transparent;
        }
        .nav{
            background-color: transparent;
            .navbar-header {
                background: black;
                opacity: 0.7;
                margin: 7px;
                padding-top : -10px;
            }
            li{
                padding : 0px 15px;
                margin:10px;
                background-color: black;
                opacity: 0.7;
            }
          }
        .search_box {
            height:auto;
            width:auto;
            padding : 20px;
            .form-container {
                a {
                    right:-25px; top:17px; position:absolute;
                }

                #suggestion {
                    border-radius:6px;
                    background:  white;
                    width : $searchboxWidth;
                    span {
                        padding : 2px 5px;
                        border:1px solid #f5f0f0;
                        display: block;
                    }
                    overflow:auto; 
                    max-height: 185px;
                }
            }
            input {
                width : $searchboxWidth;
                display:inline;
            }
        }

        .submit_button {
            margin : 10px 42%;
        }