body {
    background: url(http://3.bp.blogspot.com/-M2b-nJgY-Mo/Ujg2f2g2iGI/AAAAAAAABTI/SHss8BPcjQ8/s1600/wooden-new-simple-plain-image-wallpaper.jpg) no-repeat center center fixed;
    background-size: cover; 

}
.nav a{
    color:#000066;
}


.form_box {
    padding-top : 50px;
    color :  black;
    font-size: 20px;
    input {
        background: rgba(174, 218, 231, 0.53);
        color : #000066;
        border-color: #000066;
    }
    .submit_button {
        color:white;
        background: #000066;
    }
}